@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    background: linear-gradient(to top, rgb(190, 190, 190), white);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-size: 2vh;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.app_calculator {
    border-radius: 10vh;
    background-color: rgba(128, 128, 128, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.app_calculator:hover {
    transform: scale(1.05);
}

.app_calculator.o_a {
    width: 40vh;
    height: 40vh;
}

.button_special {
   margin: 10px;
}

input {
    border-radius: 10vh;
    width: 15vh;
    height: 5vh;
    border-radius: 2vh;
    border: solid 1px black;
    outline: none;
    text-align: center;
    font-size: 2vh;
    margin: 1vh;
    background-color: rgba(128, 128, 128, 0.12);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

input:hover {
    transform: scale(1.05);
}

button {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10vh;
    width: 15vh;
    height: 5vh;
    border: solid 1px black;
    outline: none;
    background-color: rgba(128, 128, 128, 0.12);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    animation: shake 0.5s ease-in-out;
}

.titleBlock {
    content: "Hola";
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(1.05);
    }

    50% {
        transform: translateX(-1.05);
    }

    75% {
        transform: translateX(1.05);
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width: 575px) {
    body {
        font-size: 3vw;
    }

    .app_calculator {
        width: 85vw;
        height: 85vw;
        border-radius: 8vw;
    }

    input {
        width: 50vw;
        height: 12vw;
        font-size: 4vw;
        border-radius: 3vw;
        margin: 2vw;
    }

    button {
        width: 50vw;
        height: 12vw;
        font-size: 4vw;
        border-radius: 3vw;
    }
}

/* Mobile devices (landscape phones, 576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
    body {
        font-size: 2.5vw;
    }

    .app_calculator {
        width: 70vw;
        height: 70vw;
        border-radius: 7vw;
    }

    input {
        width: 40vw;
        height: 10vw;
        font-size: 3.5vw;
        border-radius: 2.5vw;
        margin: 1.5vw;
    }

    button {
        width: 40vw;
        height: 10vw;
        font-size: 3.5vw;
        border-radius: 2.5vw;
    }
}

/* Tablets (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 2.2vh;
    }

    .app_calculator {
        width: 55vh;
        height: 55vh;
        border-radius: 9vh;
    }

    input {
        width: 20vh;
        height: 6vh;
        font-size: 2.2vh;
        border-radius: 2vh;
        margin: 1.2vh;
    }

    button {
        width: 20vh;
        height: 6vh;
        font-size: 2.2vh;
        border-radius: 2vh;
    }
}

/* Small desktops (992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 2vh;
    }

    .app_calculator {
        width: 50vh;
        height: 50vh;
        border-radius: 10vh;
    }

    input {
        width: 18vh;
        height: 5.5vh;
        font-size: 2vh;
    }

    button {
        width: 18vh;
        height: 5.5vh;
        font-size: 2vh;
    }
}